<!-- <app-nav-bar></app-nav-bar> -->
<!-- <app-backtasklist></app-backtasklist> -->

<!-- <div *ngIf="showFormData">
  <div class="form-container form-center" style="position: fixed; top: 2vh;">
    <div>
      <h2>Select Options</h2>
      <label for="multi-select">Multiple Select:</label>
      <select id="multi-select" name="multi-select" multiple>
        <option *ngFor="let option of optionlistchackbox" [value]="option" class="option-style">{{ option }}</option>
      </select>
      <button type="button" (click)="submitform()">Submit</button>
    </div>
  </div>
</div> -->

<section *ngIf="sucessAlert"
  style="position: fixed; right: 0px; top: 10px; padding: 10px; color: white; z-index: 1; background-color: rgb(0, 198, 0); width: 200px; box-shadow: 0px 0px 20px 5px gray; border-radius: 5px; ">
  <div>
    <div>
      You can only drop tasks in this column.
      <ul style="text-align: left;">
        <li *ngFor="let validationBotName of validationArray" style="list-style: none;"><i
            class="fa-solid fa-chart-simple"></i> {{validationBotName.statusName}} </li>
      </ul>
    </div>
  </div>
</section>

<section *ngIf="Alert"
  style="position: fixed; right: 0px; top: 10px; padding: 10px; color: white; z-index: 1; background-color: rgb(202, 69, 2); width: 200px; box-shadow: 0px 0px 20px 5px gray;  border-radius: 5px;">
  <div>
    <div>
      You are not authorized to drop the task into {{showColumnNameInAlert}} column.
    </div>
  </div>
</section>

<nav class="navbar navbar-light bg-light" style="box-shadow: 0px 1px 3px 0px gray;">
  <div class="container-fluid">
    <div>
      <i class="fa-solid fa-clipboard " style="font-size: 20px; color: #0481e6;"></i><b>
        <!-- {{items[0].projectName}}  --> Huge Valume Data
      </b>
    </div>
    <div class="d-flex">
      <div class="dropdown">
        <input #firstInput class="form-control me-2" type="search" (input)="searchTaskForSpecificeColumn($event)" placeholder="Search" aria-label="Search">
        <!-- <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
          style="background-color: #0481e6; color: white;" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-circle-info m-1" title=" Is Assignable To User-No
					Is Releasable-No" style="font-size: 18px;"> </i>
        </button> -->
        <!-- <ul class="dropdown-menu"
          style="position: fixed; right: 0px; top: 50px; left:auto; width: 260px; padding: 10px; box-shadow:2px 2px 10px 2px gray;"
          aria-labelledby="dropdownMenuButton1">
          <li> <i class="fa-solid fa-table-list m-1" title="Total Task" style="font-size: 18px; color: #0481e6;">
            </i><sup> {{items[0].total}}</sup> Total Task</li>
          <li><i class="fa-solid fa-table-columns m-1" title="Total Status Column"
              style="font-size: 18px; color: #0481e6;"> </i><sup> {{items[0].ProjectstatusNameArray.length}}</sup> Total
            Status Column</li>
          <li><i class="fa-solid fa-chart-column m-1" style="color:#0481e6;"></i> Is Assignable-No</li>
          <li><i class="fa-solid fa-chart-line m-1" style="color: #0481e6;"></i> Is Releasable-No</li>
        </ul> -->
      </div>
      <div class="" style="margin-left: 5px;">
        <select class="form-select" id="autoSizingSelect" (change)="onSelectChange($event)">
          <option  [value]="filterKey" selected="filterKey">{{filterKey}}</option>
          <ng-container *ngFor="let allField of uniqueMapFieldNameArray">
            <option *ngIf="allField !== filterKey" [value]="allField">{{allField}}</option>
          </ng-container>
        </select>
      </div>
    </div>

  </div>
</nav>

<div class=" " style="display: flex; justify-content: center; width: 100%;"
  *ngIf="!uniqueMapFieldNameHasSelectedUserArray.length || !uniqueMapFieldNameArray.length">
  <img
    src="https://static.vecteezy.com/system/resources/previews/023/914/428/non_2x/no-document-or-data-found-ui-illustration-design-free-vector.jpg"
    style="height: 25rem;" alt=" Sorry">
</div>
<!-- <div>
  this is your data {{items === []}}
</div> -->
<!-- 
<div>
  Hello Dhiraj this is your data {{uniqueMapFieldNameArray}} <br><br><br> 
</div> -->

<div class="main-con" *ngIf="uniqueMapFieldNameHasSelectedUserArray.length && containerArrayHoldAllTaskListTask.length">

  <!-- <div class="left-con">
    <div class="text-orientation">
      <b>Completed</b>
    </div>
    <div class="task-number">
      <p class="task-number-st">
        <b>
          {{getCountCompleteTask(items[0].taskList)}}
        </b>
      </p>
    </div>
  </div> -->

 
  <div class="board flex w-100" #boardContainer>
    <div *ngFor="let key of uniqueMapFieldNameHasSelectedUserArray" class="column">
      <div [id]="key" (drop)="drop($event, key)" (dragover)="allowDrop($event)">
        <h6 class="column-name" style="color: white;     padding-bottom: 5px;">
          <strong>{{ key }}</strong>
          <input #secondInput class="form-control me-2" type="search" (input)="searchTaskForSpecificeColumnTaskListTask($event,  key)" style="    width: 80%;
          margin-left: 12%;
          height: 20px; padding: 2px;" placeholder="Search" aria-label="Search">
        </h6>
        <div class="task-container " *ngIf="containerArrayHoldAllTaskListTask">
          <div *ngFor="let tasklistitem of containerArrayHoldAllTaskListTask">
            <!-- {{key}}---{{tasklistitem[filterKey]}} -- {{filterKey}} -->
            <div *ngIf="key === tasklistitem[filterKey]">
              <div class="task mt-1" [attr.id]="tasklistitem.eventId" draggable="true"
                (dragstart)="drag($event, key, tasklistitem)">
                <input type="checkbox" (change)="selectTask($event, tasklistitem)">
                <div class="card" data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#' + 'toggle'  +  tasklistitem.eventId" aria-expanded="false"
                  [attr.aria-controls]="'toggle' + tasklistitem.eventId">

                  <!-- <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                      data-bs-target="#multiCollapseExample2" aria-expanded="false"
                      aria-controls="multiCollapseExample2">Toggle second element</button> -->

                  <!-- <div class="collapse multi-collapse" id="multiCollapseExample2">
                    <div class="card card-body">
                      Some placeholder content for the second collapse component of this multi-collapse example. This
                      panel is hidden by default but revealed when the user activates the relevant trigger.
                    </div>
                  </div> -->

                  <div style="padding: 0px 5px;">
                    <div class="card-top">
                      <p style="margin: 0px; padding: 0px; flex: 1;" title="Task Creator">
                        <!-- <i class="fa-solid fa-circle-user"></i> -->
                        <i class="fa-solid fa-clipboard-list"></i>
                        {{tasklistitem.Task || "Task Not Available"}}
                        <!-- {{tasklistitem['Task Creator'] || "Not Available"}} -->
                      </p>
                      <!-- <p class="project-process-bar"
                        [ngStyle]="{'background-color': getTaskColor(tasklistitem.orchestratorStatus)}"></p> -->
                    </div>
                    <div class="collapse multi-collapse" [id]="'toggle' + tasklistitem.eventId">
                      <div class="task-list extra-m-p" style="margin: -5px ; margin-left: 0px; padding: 0px;">
                        <!-- <p>{{tasklistitem.Task || "Task Not Available"}}</p> -->
                        <p style="margin: 0px; padding: 0px;">{{tasklistitem['Task Creator'] || "Not Available" }}</p>
                      </div>
                      <div class="icon-container" style="">
                        <p style="flex: 1;" class="font-size extra-m-p">{{tasklistitem.Assignee || "Not Available"}}</p>
                        <p class="font-size extra-m-p">
                          <i class="fa-solid fa-calendar-days"></i> {{ParseDate(tasklistitem['Created At'] || "Invalid
                          Date")}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <nav class="navbar navbar-light bg-light" style="box-shadow: 0px 1px 3px 0px gray;">
  <div class="container-fluid">
    <div>
      <i class="fa-solid fa-clipboard " style="font-size: 20px; color: #0481e6;"></i><b>
        Huge Valume Data
      </b>
    </div>
    <div class="d-flex">
      <div class="dropdown">
        <input #firstInput class="form-control me-2" type="search" (input)="searchTaskForSpecificeColumn($event)" placeholder="Search" aria-label="Search">
      </div>
      <div class="" style="margin-left: 5px;">
        <select class="form-select" id="autoSizingSelect" (change)="onSelectChange($event)">
          <option *ngFor="let allField of uniqueMapFieldNameArray" [value]="allField">{{allField}}</option>
        </select>
      </div>
    </div>

  </div>
</nav>

<div class=" " style="display: flex; justify-content: center; width: 100%;"
  *ngIf="!uniqueMapFieldNameHasSelectedUserArray.length || !uniqueMapFieldNameArray.length">
  <img
    src="https://static.vecteezy.com/system/resources/previews/023/914/428/non_2x/no-document-or-data-found-ui-illustration-design-free-vector.jpg"
    style="height: 25rem;" alt=" Sorry">
</div>


<div class="main-con" *ngIf="uniqueMapFieldNameHasSelectedUserArray.length && containerArrayHoldAllTaskListTask.length"> 
  <div class="board flex w-100" #boardContainer>
    <div *ngFor="let key of uniqueMapFieldNameHasSelectedUserArray" class="column">
      <div [id]="key" (drop)="drop($event, key)" (dragover)="allowDrop($event)">
        <h6 class="column-name" style="color: white;     padding-bottom: 5px;">
          <strong>{{ key }}</strong>
          <input #secondInput class="form-control me-2" type="search" (input)="searchTaskForSpecificeColumnTaskListTask($event,  key)" style="    width: 80%;
          margin-left: 12%;
          height: 20px; padding: 2px;" placeholder="Search" aria-label="Search">
        </h6>
        <div class="task-container " *ngIf="containerArrayHoldAllTaskListTask">
          <div *ngFor="let tasklistitem of containerArrayHoldAllTaskListTask">
            <div *ngIf="key === tasklistitem[filterKey]">
              <div class="task mt-1" [attr.id]="tasklistitem.eventId" draggable="true"
                (dragstart)="drag($event, key, tasklistitem.eventId, tasklistitem.templateId, tasklistitem.botId)">
                <input type="checkbox" (change)="selectTask($event, tasklistitem)">
                <div class="card" data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#' + 'toggle'  +  tasklistitem.eventId" aria-expanded="false"
                  [attr.aria-controls]="'toggle' + tasklistitem.eventId">


                  <div style="padding: 0px 5px;">
                    <div class="card-top">
                      <p style="margin: 0px; padding: 0px; flex: 1;" title="Task Creator">
                        <i class="fa-solid fa-clipboard-list"></i>
                        {{tasklistitem.Task || "Task Not Available"}}
                      </p>
                    </div>
                    <div class="collapse multi-collapse" [id]="'toggle' + tasklistitem.eventId">
                      <div class="task-list extra-m-p" style="margin: -5px ; margin-left: 0px; padding: 0px;">
                        <p style="margin: 0px; padding: 0px;">{{tasklistitem['Task Creator'] || "Not Available" }}</p>
                      </div>
                      <div class="icon-container" style="">
                        <p style="flex: 1;" class="font-size extra-m-p">{{tasklistitem.Assignee || "Not Available"}}</p>
                        <p class="font-size extra-m-p">
                          <i class="fa-solid fa-calendar-days"></i> {{ParseDate(tasklistitem['Created At'] || "Invalid
                          Date")}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->







<!-- -------------------------------------------------------------------- -->